<div class="score">
  <app-counter [user]='true' [animation]='true'></app-counter>
</div>
<div class="wrapper">
  <app-word-spinner *ngIf="inGame"></app-word-spinner>
</div>

<div *ngIf="displayTimer" class="timer">
  <app-progress-timer [progressbarValue]="progressbarValue" [timeLeft]="timeLeft"></app-progress-timer>
</div>

<div class="divStart">
  <div *ngIf="canStartANewGame">
    <button class="start" mat-button (click)="start()">START</button>
  </div>

  <div
    *ngIf="canExit || isWaitingStart">
    <button class="postGame" mat-button routerLink="/home" routerLinkActive="active">HOME</button>
    <button class="postGame" mat-button *ngIf="canRestart" (click)="quit(); this.start()">NEW GAME</button>
  </div>
</div>

<app-player-list *ngIf="inGame"></app-player-list>

