@import "../../../styles/abstracts/mixins";
@import "../../../styles/dimensions.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/game/mixins";

:host {
  height: 100%;
}

.wrapper {
  @include app-word-spinner-wrapper();
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $default-margin * 2;
  // height: 15%;
}

.timer {
  width: 80%;
  text-align: center;
  margin: $default-margin auto;
  height: 4%;
}

.quit {
  display: flex;
  align-items: center;
  height: 5%;
  margin: $default-margin auto;
  button {
    margin: auto;
  }
}

.options {
  margin: $default-margin;
  height: 30%;
  width: 60%;
}

.divStart {
  div {
    @include game-manager-button();
  }
}

.leaderboard {
  margin: $default-margin;
  overflow: scroll;
}

@include tablet {
  .divStart {
    div {
      width: 70%;
      .postGame {
        width: 40%;
      }
    }
  }
}

@include desktop {
  .timer {
    width: 30%;
  }
  .divStart {
    div {
      width: 60%;
      .postGame {
        width: 40%;
      }
    }
  }
}

button {
  color: $default-text-color;
}
