@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";
@import "../../styles/abstracts/mixins";

.wrapper {
  overflow: visible;
  height: 50%;
  width: 90%;
  margin: $default-margin auto;
}

app-word-spinner {
  height: 100%;
}

.commands {
  margin: auto;
}

.wrapper-small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $default-margin * 3;
}

.progressBar {
  width: 60%;
  margin: auto;
}

.flex {
  display: flex;
  margin-top: $default-margin;
  .endGameDummy {
    width: 20%;
  }

  .endGameButton {
    width: 60%;
    margin: auto;
    display: flex;
    button {
      margin: auto;
      margin-top: 5%;
    }
  }
}

// for desktop layout
@include desktop {
}
