@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.wrapper {
  // position: relative;
  // align-self: center;
  // align-items: center;
  overflow: visible;
  height: 30%;
  width: 90%;
  margin: auto;
}

.commands {
  position: relative;
  margin: $default-margin;
}

.wrapper-small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $default-margin 0;
}

.btnContainer {
  width: 60%;
  margin: auto;
  padding-left: 4%;
}

/*.btn {
  outline: none;
  border: none;
  background-color: #9c27b0;
  padding: 5px 20px;
  margin: 3px 10px;
  border-radius: 3px;
  color: $default-text-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:hover {
  background-color: #8e24aa;
}

.btn:active {
  background-color: #7b1fa2;
}*/

button {
  margin: $default-margin auto;
  width: 3.5%;
  font-size: xx-large;
  max-height: 30%;
}

button.up {
  background: $default-higher-color;
  color: $default-text-color;
}

button.down {
  background: $default-lower-color;
  color: $default-text-color;
}
