@import "../../../styles/dimensions.scss";
@import "../../../styles/colors.scss";

span {
  vertical-align: super;
}

p {
  z-index: 1;
}

mat-icon {
  margin-left: $default-margin;
}

a {
  text-decoration: none;
}

* {
  color: $default-text-color;
}
