@import "../../../styles/colors.scss";

mat-card {
  width: calc(100% - 32px);
}

mat-card-subtitle {
  color: black;
  text-align: right;
}

.player {
  background-color: aliceblue;
  color: black;
  
}

#behind {
  background-color: lightcoral;
}

#lost {
  background-color: darkslategrey;
  color: $default-text-color;

  mat-card-subtitle {
    color: $default-text-color;
  }
}
