@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";

mat-card {
  @include wide-col();
}

mat-card-subtitle {
  color: $dark-text-color;
  text-align: right;
}

.player {
  background-color: $white-bg;
  color: $dark-text-color;
}

#behind {
  background-color: $behind-player-color;
}

#lost {
  background-color: $losing-player-color;
  color: $default-text-color;

  mat-card-subtitle {
    color: $default-text-color;
  }
}
