<div class="wrapper-small">
  <app-counter [counter]="actualScore"></app-counter>
</div>
<!-- <div class="wrapper card1">
  <app-word [card]="card"></app-word>
</div>
<div class="wrapper card2">
  <app-word [card]="card2"></app-word>
</div> -->
<div class="wrapper">
  <app-word-spinner></app-word-spinner>
</div>
<div class="commands">
  <div *ngIf="playing; then gameIsOn; else gameIsNotOn"></div>
</div>
<ng-template #gameIsNotOn>
  <button mat-button (click)="start()">Play again</button>
  or
  <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
</ng-template>
<ng-template #gameIsOn>
  <div>{{ timeLeft | date: "s:S" }} s</div>
  <mat-progress-bar
    mode="determinate"
    [value]="progressbarValue"
  ></mat-progress-bar>
  <button
    class="up"
    mat-raised-button
    [disabled]="loading"
    (click)="response(2)"
  >
    Up
  </button>
  <br />
  <button
    class="down"
    [disabled]="loading"
    mat-raised-button
    (click)="response(1)"
  >
    Down
  </button>
</ng-template>
