<div id="info">
  <h1 mat-h1>How To Play</h1>
  <h2 mat-h2>Arcade</h2>
  <p mat-body>
    <span>Arcade Mode</span> is a single-player survival game where you are in front of two passwords,
    the first has a popularity score, while the second one doesn't. You must choose and select which of the
    two passwords has the higher popularity score before the time runs out.
  </p>
  <h2 mat-h2>Duel</h2>
  <p mat-body>
    <span>Duel Mode</span> is a multi-player survival game much like <span>Arcade</span>, but your passwords
    are also given to your opponent. The first of the two that selects an answer must wait for the other, while
    his or her timer is paused. When someone looses, both from a wrong answer or a timeout, the other wins, and
    can keep playing in solo just to make a new best score in that mode. The looser can still see his or her opponent
    playing with <span>Spectator Mode</span>. In multi-player modes, the maximum available time that can be reached is
    set to 30 seconds.
  </p>
  <h2 mat-h2>Battle Royale</h2>
  <p mat-body>
    <span>Battle Royale</span> works similar to <span>Duel</span>, but instead of only one opponent there are 99.
  </p>
</div>