<div class='selector'>
  <a mat-button [class]="isSelected('statistic') ? 'selected' : ''" routerLink="statistic">
    <mat-icon aria-hidden="true" aria-label="assessment">assessment</mat-icon>
    Statistic
  </a>
  <a mat-button [class]="isSelected('leaderboard') ? 'selected' : ''" routerLink="leaderboard">
    <mat-icon aria-hidden="true" aria-label="leaderboard">leaderboard</mat-icon>
    Leaderboard
  </a>
</div>
<div class="layout">
  <router-outlet></router-outlet>
  <!-- codice utile per avere stats e leaderboard assieme -->
  <!-- <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Stats </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <app-stats class="app-stats"></app-stats>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title> Leaderboard </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <app-leadeboard class="app-leadboard"></app-leadeboard>
    </mat-expansion-panel>
  </mat-accordion> -->
</div>
