@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/colors.scss";
@import "~@angular/material/theming";

.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;

  .child {
    width: 50%;
  }
}

span {
  text-align: center;
}

@include desktop {
  .counter-container {
    width: 60vw;
  }
}

* {
  color: $default-text-color;
}
