<div class="counter-container">
  <app-counter
    class="child"
    [user]="true"
    [animationState]="this.userAnimation"
    (animationStateChange)="this.userAnimation=$event"

  ></app-counter>
  <app-counter
    class="child"
    [user]="false"
    [animationState]="this.opponentAnimation"
    (animationStateChange)="this.opponentAnimation=$event"
  ></app-counter>
</div>
<!-- <app-game-end-game-animation [newText]="this.message" [show]="this.showEndGameMessage"></app-game-end-game-animation> -->
