@import "../../../styles/mixins.scss";
@import "../../../styles/dimensions.scss";

:host {
  width: 95%;
}

.layout {
  width: 95%;
  margin: auto;
}

.selector {
  width: 40%;
  margin: auto;
}

a {
  width: 50%;
}

.selected {
  text-decoration: underline;
}

@include desktop {
  a {
    margin: $default-Y-margin-desktop;
  }
  .layout {
    width: 70%;
    margin: $default-Y-margin-desktop;
  }

  .selector {
    width: 20%;
  }
}
