@import "../abstracts/_mixins.scss";
@import "~@angular/material/theming";
@import "../colors.scss";
@import "../dimensions.scss";

@mixin nav-bar {
  .nav-bar {
    display: flex;
    margin: auto;
    .mat-button {
      background-color: $button-bg;
      margin: auto;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
    .mat-button:not(.mat-button-disabled) {
      color: $default-text-color;
    }
    .not-selected {
      @include mat-elevation-transition;
      @include mat-elevation(12, black, 0.8);
    }
    .not-selected:active {
      @include mat-elevation(2);
    }
    .selected {
      @include mat-elevation-transition;
      @include mat-elevation(2);
      background-color: $selected-button-bg;
    }
    .selected:active {
      @include mat-elevation(12);
    }
  }

  .text {
    display: none;
  }

  .not-text {
    margin: 10 * $default-margin;
    display: initial;
  }

  @include tablet {
    .text {
      display: initial;
    }

    .not-text {
      display: none;
    }
  }

  @include desktop {
    .text {
      display: initial;
    }

    .not-text {
      display: none;
    }

    .selector-border {
      width: 20%;
    }
  }
}

@mixin underNavBarContainer {
  .container {
    @include wide-col($default-margin, 0);
  }

  @include tablet {
    .container {
      @include wide-col(3 * $default-margin, $default-padding);
    }
  }

  @include desktop {
    .container {
      @include wide-col(10 * $default-margin, $default-padding);
    }
  }
}

@mixin tableFormatter {
  .tableContainer {
    overflow-x: auto;
  }

  table {
    width: 100%;
    .mat-header-cell,
    .mat-cell {
      text-align: center;
    }
    .mat-header-cell:first-of-type,
    .mat-cell:first-of-type,
    .mat-footer-cell:first-of-type {
      padding-left: 1%;
    }
    .mat-header-cell:last-of-type,
    .mat-cell:last-of-type,
    .mat-footer-cell:last-of-type {
      padding-right: 1%;
    }
  }
}

@mixin loadingSpinnerFormatter {
  .tableContainer {
    position: relative;
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
