@import "../abstracts/_mixins.scss";
@import "~@angular/material/theming";
@import "../colors.scss";

@mixin nav-bar {
  .nav-bar {
    display: flex;
    margin: auto;
    a {
      background-color: $button-bg;
      margin: auto;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
    a:not(.mat-button-disabled) {
      color: $default-text-color;
    }
    .not-selected {
      @include mat-elevation-transition;
      @include mat-elevation(12, black, 0.8);
    }
    .not-selected:active {
      @include mat-elevation(2);
    }
    .selected {
      @include mat-elevation-transition;
      @include mat-elevation(2);
      background-color: $selected-button-bg;
    }
    .selected:active {
      @include mat-elevation(12);
    }
  }

  @include desktop {
    .selector-border {
      width: 25%;
    }
  }
}
