<p class="card-header"><span class="mat-display-1">{{username}}</span></p>
<div *ngIf="this.passwordUpdate; then passwordBlock else emailBlock"></div>
<ng-template #emailBlock>
  <p>Update your Email</p>
  <form [formGroup]="formEmail" (ngSubmit)="onEmailSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Old email</mat-label>
        <input matInput [readonly]="true" [value]="this.emailOld">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>New email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>
    <div class="form-group">
      <span *ngIf="loadingEmail" class="spinner-border spinner-border-sm mr-1"></span>
        <button mat-button [disabled]="loadingEmail" class="btn btn-primary">
            Update email
        </button>
    </div>
</form>
</ng-template>
<ng-template #passwordBlock>
  <p>Update your password</p>
  <form [formGroup]="formPwd" (ngSubmit)="onPasswordSubmit()">

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Old password</mat-label>
        <input matInput formControlName="oldPassword">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword">
      </mat-form-field>
    </div>
    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="form-group">
      <span *ngIf="loadingPwd" class="spinner-border spinner-border-sm mr-1"></span>
      <button mat-button [disabled]="loadingPwd" class="btn btn-primary">
          Update password
      </button>
  </div>
  </form>
</ng-template>
