@import "../../../styles/colors.scss";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/dimensions.scss";

@function multiple-text-shadow($n, $color, $x: 1, $y: 1) {
  $value: "0 0 0 #{$color}";
  @for $i from 2 through $n {
    $value: "#{$value} , #{ $i * $x }px #{ $i *$y }px 2px "+lighten($color, $i);
  }

  @return unquote($value);
}

@keyframes mymove {
  0% {
    text-shadow: multiple-text-shadow(15, $higher-color, 0, -0.5);
  }
  25% {
    text-shadow: multiple-text-shadow(15, black, 0, -0.5);
  }
  50% {
    text-shadow: multiple-text-shadow(15, $lower-color, 0, -0.5);
  }
  75% {
    text-shadow: multiple-text-shadow(15, black, 0, -0.5);
  }
  100% {
    text-shadow: multiple-text-shadow(15, $higher-color, 0, -0.5);
  }
}

.title {
  align-items: center;
  display: flex;
  height: 20vh;
  margin: 10vh 10vw 0 10vw;
  width: auto;
  justify-content: center;
  div {
    text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: titleFont;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 8vh;
    margin-bottom: 3vh;
  }
  #left {
    justify-content: flex-start;
    text-align: left;
    color: $higher-color;
    align-self: flex-start;
  }

  #center {
    animation: mymove 2s infinite;
    color: $default-text-color;
    text-align: center;
    justify-content: center;
    align-self: center;
  }

  #right {
    color: $lower-color;
    text-align: right;
    justify-content: flex-end;
    align-self: flex-end;
  }
}

.subtitle {
  font-family: subtitleFont;
}

@mixin margin-padding {
  margin: $default-margin;
  padding: $default-padding;
}

.in-line {
  margin-top: 4vh;
}

.mat-display-4 {
  @include margin-padding();
}

.mat-display-4 div {
  line-height: 1em;
  font-size: 0.85em;
}

.center-column {
  max-height: 50%;
  width: 96%;
  @include margin-padding();
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 5vh;
  height: $default-footer-high;
  width: 100%;
  text-align: center;
}

.clear {
  clear: both;
}

$button-size: 14vh;
$icon-size: $button-size * 2 / 3;

.start-button,
.start-button-pvp,
.start-button-royale {
  padding: 1vh;
  width: $button-size;
  height: $button-size;
  // color: $default-text-color;
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;

}

mat-icon {
  // margin-top: $icon-size / 10;
  width: $button-size;
  height: $button-size;
  transition-duration: 0.7s;

  &:hover {
    transform: scale(1.3);
  }
}

@include desktop {
  .mat-display-4 {
    @include margin-padding();
    max-height: 10%;
    align-items: center;
    display: flex;
  }

  // .mat-display-4 div {
  //   max-width: 30%;
  //   line-height: 1em;
  //   font-size: 0.85em;
  //   width: auto;
  // }

  .center-column {
    z-index: 2;
    float: center;
    width: 66%;
    @include margin-padding();
    padding-top: 10vh;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    min-height: 50%;
    margin-bottom: $default-footer-high;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 5vh;
    height: $default-footer-high;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .title {
    width: 80%;
    div {
      clear: both;
      font-size: 11vh;
    }
  }
}

$autoscroll-width: 700%;
$autoscroll-duration: 60s;

.autoscroll {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}
.autoscroll p,
.autoscroll h2,
.autoscroll h3 {
  /* Apply animation to this element */
  -moz-animation: autoscroll $autoscroll-duration linear infinite;
  -webkit-animation: autoscroll $autoscroll-duration linear infinite;
  animation: autoscroll $autoscroll-duration linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes autoscroll {
  0% {
    -moz-transform: translateX(150%);
  }
  100% {
    -moz-transform: translateX(-$autoscroll-width);
  }
}
@-webkit-keyframes autoscroll {
  0% {
    -webkit-transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(-$autoscroll-width);
  }
}
@keyframes autoscroll {
  0% {
    -moz-transform: translateX(150%); /* Firefox bug fix */
    -webkit-transform: translateX(150%); /* Firefox bug fix */
    transform: translateX(150%);
  }
  100% {
    -moz-transform: translateX(-$autoscroll-width); /* Firefox bug fix */
    -webkit-transform: translateX(-$autoscroll-width); /* Firefox bug fix */
    transform: translateX(-$autoscroll-width);
  }
}
