@import "../../../styles/colors.scss";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/dimensions.scss";

@function home-multiple-text-shadow($n, $color, $x: 1, $y: 1) {
  $value: "0 1px #{$color}";
  @for $i from 2 through $n {
    $value: "#{$value} , #{ $i * $x }px #{ $i *$y }px 2px "+lighten($color, $i);
  }

  @return unquote($value);
}

@keyframes home-animation {
  0% {
    text-shadow: home-multiple-text-shadow(10, $higher-color, 0, -1);
  }
  25% {
    text-shadow: home-multiple-text-shadow(10, $black-bg, 0, -1);
  }
  50% {
    text-shadow: home-multiple-text-shadow(10, $lower-color, 0, -1);
  }
  75% {
    text-shadow: home-multiple-text-shadow(10, $black-bg, 0, -1);
  }
  100% {
    text-shadow: home-multiple-text-shadow(10, $higher-color, 0, -1);
  }
}

.title {
  display: flex;
  height: 28vh;
  margin: 10vh auto 0 auto;
  width: 85%;
  flex-direction: column;
  justify-content: space-between;

  .title-piece {
    text-shadow: -1px 0 $black-bg, 0 1px $black-bg, 1px 0 $black-bg,
      0 -3px $black-bg;
    font-family: titleFont;
    font-weight: 800;
    font-size: 8vh;
    line-height: 8vh;
    height: 8vh;
    text-transform: uppercase;
  }

  #left {
    color: $higher-color;
    align-self: flex-start;
    margin-left: 5%;
  }

  #center {
    animation: home-animation 2s infinite;
    color: $default-text-color;
    align-self: center;
  }

  #right {
    color: $lower-color;
    align-self: flex-end;
  }
}

.subtitle {
  font-family: subtitleFont;
  color: $default-text-color;
  margin-top: 5vh;
}

@mixin margin-padding {
  margin: $default-margin;
  padding: $default-padding;
}

.in-line {
  margin-top: 4vh;
}

.center-column {
  max-height: 50%;
  width: 90%;
  margin: 1vh auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 5vh;
  height: $default-footer-height;
  width: 100%;
  text-align: center;
}

.clear {
  clear: both;
}

$button-size: 14vh;

@mixin mode-fading-animation($start_opacity) {
  @keyframes mode-fading-#{$start_opacity} {
    0% {
      opacity: $start_opacity;
    }
    10% {
      opacity: $start_opacity;
    }
    20% {
      opacity: 1 - $start_opacity;
    }
    25% {
      opacity: 1 - $start_opacity;
    }
    35% {
      opacity: $start_opacity;
    }
    100% {
      opacity: $start_opacity;
    }
  }
}

@include mode-fading-animation(0);
@include mode-fading-animation(1);

.mode-button {
  width: $button-size;
  height: $button-size;
  .mode-text {
    color: $default-text-color;
    font-size: 3vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    white-space: normal;
    line-height: normal;
    font-weight: 700;
    opacity: 0;
    animation: mode-fading-0 10s infinite;
  }
  mat-icon {
    width: $button-size;
    height: $button-size;
    opacity: 1;
    animation: mode-fading-1 10s infinite;
  }
  transition-duration: 0.7s;
  &:hover {
    transform: scale(1.3);
  }
}

@include desktop {
  .center-column {
    z-index: 2;
    width: 66%;
    padding-top: 5vh;
    margin: 0 auto;
    min-height: 50%;
    margin-bottom: $default-footer-height;
  }

  footer {
    z-index: 1;
  }

  .title {
    width: 25%;
    div {
      clear: both;
      font-size: 11vh;
    }
  }
}

@include tablet {
  .title {
    width: 40%;
    div {
      clear: both;
      font-size: 11vh;
    }
  }
}

$autoscroll-width: 700%;
$autoscroll-duration: 60s;

.autoscroll {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}
.autoscroll p,
.autoscroll h2,
.autoscroll h3 {
  /* Apply animation to this element */
  -moz-animation: autoscroll $autoscroll-duration linear infinite;
  -webkit-animation: autoscroll $autoscroll-duration linear infinite;
  animation: autoscroll $autoscroll-duration linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes autoscroll {
  0% {
    -moz-transform: translateX(150%);
  }
  100% {
    -moz-transform: translateX(-$autoscroll-width);
  }
}
@-webkit-keyframes autoscroll {
  0% {
    -webkit-transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(-$autoscroll-width);
  }
}
@keyframes autoscroll {
  0% {
    -moz-transform: translateX(150%); /* Firefox bug fix */
    -webkit-transform: translateX(150%); /* Firefox bug fix */
    transform: translateX(150%);
  }
  100% {
    -moz-transform: translateX(-$autoscroll-width); /* Firefox bug fix */
    -webkit-transform: translateX(-$autoscroll-width); /* Firefox bug fix */
    transform: translateX(-$autoscroll-width);
  }
}
