@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";

table {
  width: 100%;
}

canvas {
  background: $white-bg;
}

div.inputs {
  margin-bottom: $default-margin;
  background: $white-bg;
  display: flex;
  place-content: center;
}

.input {
  margin: $default-margin;
}
