@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/stats/mixins";

@include underNavBarContainer();

table {
  width: 100%;
  th.mat-header-cell,
  td.mat-cell {
    text-align: center;
  }
}

canvas {
  background: $white-bg;
  max-height: 65vh;
}

div.inputs {
  padding: $default-padding;
  margin-bottom: $default-margin;
  background: $white-bg;
  display: grid;
  place-content: center;
}

.input {
  margin: auto;
}

#firstLane {
  grid-column-start: 1;
  grid-column-end: 3;
}

mat-form-field {
  position: initial;
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: unset;
    position: initial;
  }
  .mat-form-field-underline {
    position: initial;
    width: auto;
  }
  .mat-form-field-subscript-wrapper {
    display: none;
  }
}

@include tablet {
  div.inputs {
    display: flex;
  }
}

@include desktop {
  div.inputs {
    display: flex;
  }
}
