@import "../../styles/colors.scss";
@import "../../styles/abstracts/mixins";
@import "../../styles/dimensions.scss";

@mixin margin-padding {
  margin: $default-margin;
  padding: $default-padding;
}

.in-line {
  margin-top: 4vh;
}

.mat-display-4 {
  @include margin-padding();
}

.mat-display-4 div {
  line-height: 1em;
  font-size: 0.85em;
}

.center-column {
  max-height: 50%;
  width: 96%;
  @include margin-padding();
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 5vh;
  height: $default-footer-high;
  width: 100%;
  text-align: center;
}

.clear {
  clear: both;
}

$button-size: 12vh;
$icon-size: $button-size * 2 / 3;

.start-button,
.start-button-pvp,
.start-button-royale {
  padding: 1vh;
  width: $button-size;
  height: $button-size;
  // color: $default-text-color;
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

mat-icon {
  // margin-top: $icon-size / 10;
  width: $button-size;
  height: $button-size;
}

// .start-button {
//   background: $default-arcade-color;
// }
// .start-button-pvp {
//   background: $default-pvp-color;
// }
// .start-button-royale {
//   background: $default-royale-color;
// }

@include desktop {
  .mat-display-4 {
    @include margin-padding();
    max-height: 10%;
    align-items: center;
    display: flex;
  }

  .mat-display-4 div {
    max-width: 30%;
    line-height: 1em;
    font-size: 0.85em;
    width: auto;
  }

  .mat-display-4 div#right {
    @include margin-padding();
    margin-right: auto;
  }

  .mat-display-4 div#left {
    @include margin-padding();
    margin-left: auto;
  }

  .center-column {
    z-index: 2;
    float: center;
    width: 42%;
    @include margin-padding();
    padding-top: 10vh;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    min-height: 50%;
    margin-bottom: $default-footer-high;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 5vh;
    height: $default-footer-high;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
}
