<div class="mat-display-4 title">
  <div @title1 id="left">The</div>
  <div @title2 id="center">Pwned</div>
  <div @title3 id="right">Game</div>
  <div class="clear"></div>
</div>

<div class="center-column" @fadeIn>
  <p class="mat-body-2">Has your password been pwned?</p>
  <p class="mat-body-1">
    A frustratingly addictive game of higher or lower using pwned password.
  </p>
  <p class="mat-body-1">The data is based on ... TODO .</p>

  <div class="in-line">
    <a
      mat-icon-button
      routerLink="/game/arcade"
      matTooltip="Play arcade mode"
      matTooltipPosition="left"
      routerLinkActive="active"
      class="start-button"
    >
      <mat-icon svgIcon="single_sword"></mat-icon>
    </a>
    <a
      mat-icon-button
      routerLink="/game/duel"
      matTooltip="Play 1 vs 1 battle"
      matTooltipPosition="right"
      routerLinkActive="active"
      class="start-button-pvp"
    >
      <mat-icon svgIcon="double_sword"></mat-icon>
    </a>
  </div>
  <a
    mat-icon-button
    isRoundButton
    routerLink="/game/royale"
    matTooltip="Play a royale game with 100 opponents"
    matTooltipPosition="right"
    routerLinkActive="active"
    class="start-button-royale"
  >
    <mat-icon svgIcon="royal_crown"></mat-icon>
  </a>
</div>
<!-- <div class="right-column">

</div> -->
<footer>
  <app-links></app-links>
</footer>
