@import "../../../../styles/colors.scss";
@import "../../../../styles/dimensions.scss";
@import "../../../../styles/abstracts/mixins";


$div-backgroud-color: rgba(0, 0, 0, 0.3);
$div-player-backgroud-color: rgba(0, 0, 255, 0.3);

.container {
  position: absolute;
  // display: flex;
  height: 15vh;
  overflow: auto;
  bottom: 1vh;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  div {
    margin: auto;
    h2 {
      background-color: $div-backgroud-color;
      margin: 0.2vh auto;
      color: white;
    }
  }
}

.mat-icon {
  vertical-align: middle;
}

.list {
  margin: $default-margin;
  display: flex;
  width: 96%;
  .position {
    width: 15%;
    font-size: min(4vw, 3vh);
  }
  .name {
    width: 70%;
    font-size: min(4vw, 3vh);
  }
  .score {
    width: 15%;
    font-size: min(4vw, 3vh);
  }
  .lost {
    color: $losing-player-color;
  }
}

.flip-list-move {
  transition: transform 1s;
}

// .player {
//   color: aqua;
// }

@include tablet {
  .container {
    width: 85%;
  }
}

@include desktop {
  .container {
    width: 70%;
  }
}

@include scrollBar;
