@import "../../../../styles/colors.scss";
@import "../../../../styles/dimensions.scss";
@import "../../../../styles/abstracts/mixins";


$div-backgroud-color: rgba(0, 0, 0, 0.3);
$div-player-backgroud-color: rgba(0, 0, 255, 0.3);

.container {
  position: absolute;
  display: flex;
  height: 15vh;
  overflow: auto;
  bottom: 1vh;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  div {
    margin: auto;
    h2 {
      background-color: $div-backgroud-color;
      margin: 0.2vh auto;
      color: white;
    }
  }
}

.mat-icon {
  vertical-align: middle;
}

.positionList {
  text-decoration: none;
  width: 10%;
  .position {
    text-align: right;
  }
  .in-game {
    color: $default-text-color;
  }

  .lost {
    color: black;
  }
}

.nameList {
  width: 80%;
  text-align: center;

  .in-game {
    color: $default-text-color;
  }

  .lost {
    color: black;
  }
}

.scoreList {
  width: 10%;
  text-align: left;

  .in-game {
    color: $default-text-color;
  }

  .lost {
    color: black;
  }
}

.flip-list-move {
  transition: transform 1s;
}

.player {
  color: aqua;
}

@include tablet {
  .container {
    width: 75%;
  }
}

@include desktop {
  .container {
    width: 50%;
  }
}

@include scrollBar;
