<div class="score">
  <app-counter [counter]="actualScore" [name]="myName"></app-counter>
</div>
<div class="wrapper" *ngIf="this.gameStatus !== status.IDLE">
    <app-word-spinner
      [buttonEnable]="this.gameStatus === status.PLAYING"
      (answerEmitter)="answer($event)"
    ></app-word-spinner>
</div>

<div *ngIf="this.gameStatus === status.PLAYING" class="timer">
  <div>time left: {{ timeLeft | date: "s:S" }} s</div>
  <mat-progress-bar
    mode="determinate"
    [value]="progressbarValue"
  ></mat-progress-bar>
</div>

<div
  class="options"
  *ngIf="this.gameStatus !== status.IDLE; then players; else buttons"
></div>

<ng-template #players class="leaderboard">
  <app-player-list></app-player-list>
</ng-template>

<ng-template #buttons>
  <div *ngIf="this.gameStatus === status.IDLE">
    <button class="divStart" mat-button (click)="start()">START</button>
  </div>
  <div
    *ngIf="
      this.gameStatus === status.END ||
      this.gameStatus === status.LOST ||
      this.gameStatus === status.SPECTATORE
    "
    class="divStart"
  >
    <button
      mat-button
      *ngIf="this.gameStatus === status.LOST"
      (click)="spectatoreMode()"
    >
      SPECTATOR
    </button>
  </div>
  <div
    *ngIf="this.isInGame() || this.gameStatus === status.WAITING_START"
    class="divStart"
  >
    <button mat-button (click)="disconnect()">QUIT</button>
  </div>
</ng-template>

