@import "../../../styles/abstracts/mixins";
@import "../../../styles/dimensions.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/game/mixins";

.wrapper {
  @include app-word-spinner-wrapper();
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $default-margin * 2;
}

.timer {
  width: 80%;
  text-align: center;
  margin: $default-margin auto;
  height: 5%;
}

.options {
  margin: $default-margin;
  height: 35%;
  width: 60%;
}

.divStart {
  display: flex;
  margin: $default-margin auto;
  align-self: center;
  button {
    width: 40%;
    margin: $default-margin auto;
  }
}

.leaderboard {
  margin: $default-margin;
  overflow: scroll;
}

@include desktop {
  .timer {
    width: 30%;
  }
}

button {
  color: $default-text-color;
}
