@import "../../../styles/abstracts/mixins";
@import "../../../styles/dimensions.scss";
@import "../../../styles/colors.scss";

:host {
  display: block;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $default-margin 0;
  max-height: 15%;
}

.word {
  overflow: visible;
  width: 64%;
  max-height: 40%;
  margin: $default-margin auto;
}

.timer {
  width: 80%;
  text-align: center;
  margin: $default-margin auto;
  height: 5%;
}

.options {
  margin: $default-margin;
  width: 60%;
}

.divStart {
  display: flex;
  margin: $default-margin auto;
  align-self: center;
  button {
    width: 40%;
    margin: $default-margin auto;
  }
}

.leaderboard {
  margin: $default-margin;
  overflow: scroll;
}

@include desktop {
  .word {
    width: 60%;
  }

  .timer {
    width: 30%;
  }
}

button {
  color: $default-text-color;
}
