/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "./app/styles/base/_typography.scss";
@import "./app/styles/dimensions.scss";
@import "./app/styles/colors.scss";

@include mat-core($roboto-custom-typography);

// * {
//   @include angular-material-typography($roboto-custom-typography);
// }

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(-45deg, #e63427, #dd2a51, #27b0e2, #23d5bd);
  background-size: 500% 100%;
  animation: gradient 60s ease infinite;
  overflow-y: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  60% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

div.mat-expansion-panel-body {
  padding: $default-padding;
  max-width: 100%;
}

.mat-tooltip {
  font-size: 2vh;
}

.snackBarMessage {
  background-color: $default-msg-color;
  color: $default-text-color;
  text-align: center;
}

.snackBarInfo {
  background-color: $default-info-color;
  color: $default-text-color;
}

.snackBarError {
  background-color: $default-error-color;
}
