/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();
@import "./app/styles/roboto.scss";
@import "./app/styles/dimensions.scss";

* {
  @include angular-material-typography($roboto-custom-typography);
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 100%;
  animation: gradient 60s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  60% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

div.mat-expansion-panel-body {
  padding: $default-padding;
  max-width: 100%;
}
