<app-period-buttons (period)="getStats($event)"
  ></app-period-buttons>

  <mat-table [dataSource]="myStats" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="avg">
      <mat-header-cell *matHeaderCellDef> Average </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.avg}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="max">
      <mat-header-cell *matHeaderCellDef> Max </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.max}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
