<!-- <app-mode-selector></app-mode-selector>
<div class="data">
  <router-outlet></router-outlet>
</div> -->

<div class='nav-bar'>
  <div class="selector-border"></div>
  <a mat-button [class]="isSelected('statistics') ? 'selected checked' : 'not-selected'"
    [routerLink]="getRouterLink('statistics')">
    <mat-icon aria-hidden="true" aria-label="assessment">assessment</mat-icon>
    <span class="text">Statistics</span>
  </a>
  <a mat-button [class]="isSelected('leaderboard') ? 'selected checked' : 'not-selected'"
    [routerLink]="getRouterLink('leaderboard')">
    <mat-icon aria-hidden="true" aria-label="leaderboard">leaderboard</mat-icon>
    <span class="text">Leaderboards</span>
  </a>
  <div class="selector-border"></div>
</div>
<div class="layout">
  <router-outlet></router-outlet>
</div>
