@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";

:host {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.mat-card {
  width: 55%;
  max-width: 350px;
}

form {
  width: 80%;
}

.mat-form-field {
  margin: 2 * $default-margin 0;
  width: 100%;
}

mat-card-title,
mat-card-content {
  padding: 2%;
  display: flex;
  justify-content: center;
}

.error {
  text-align: center;
  padding: 3%;
  color: $default-text-color;
  background-color: $default-error-color;
}

.button {
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep {
  p {
    margin: 0px;
  }
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $default-hint-color;
  }
  .mat-hint {
    color: $default-error-color;
  }
}
