<div id="info">
  <h2 mat-h2>Developers</h2>
  <p mat-body>
    <span>The Pwned Game</span> was written and developed by three students, friends and collegues:
    <span>Simone Magnani (Magna), Davide Evangelisti (Kamina) and Luca Deluigi (Delu)</span>.
  </p>
  <h2 mat-h2>History</h2>
  <p mat-body>
    <span>The Pwned Game</span> was an idea born in the mind of Luca Deluigi, more or less at the time
    he discovered the existence of <a href="https://haveibeenpwned.com/">';--have i been pwned?</a>, in 2018.
    At that time, <a href="http://www.higherlowergame.com">The Higher Lower Game</a> was at his dawn of trending, but it
    still kept it's worldwide fame.
    <br><br>
    After the Net Security course and exam at Bologna University Luca Deluigi and Davide Evangelisti made the very first
    version of the <a href="https://play.google.com/store/apps/details?id=unibo.it.project.thepwnedgame">
      Android app</a>, just to play around with Android development and this idea, whith great enthusiasm but
    very little time to spend. The original version was called "The Higher Lower Pwned Game". It was 2019.
    <br><br>
    Then, near May 2020, during the first <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic">COVID-19
      pandemic</a>,
    the three students attended the Web Services and Applications course, and decided to turn the idea into reality
    again
    in order to deliver a full stack MEAN application as project entry for the exam. We felt that the old name resembled
    the original Higher Lower game too much, and also that it was a bit too long, so we changed it to "The Pwned Game".
  </p>
  <h2 mat-h2>Credits</h2>
  <p mat-body>
    Special thanks to our best graphic artist, Delu's beloved girlfriend, Giada, and to all the people who helped
    the team testing and improving the application. In particular our relatives, who lived with us and got involved
    in the project during the second wave of lockdown in Q4 2020.
  </p>
</div>
