@import "../../../styles/stats/mixins";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/dimensions.scss";

@include nav-bar;
@include underNavBarContainer;
@include tableFormatter;

table {
  margin-top: 2 * $default-margin;
}

.blockedText {
  display: block;
}

@include tablet {
  .blockedText {
    display: inline;
  }
}

@include desktop {
  .blockedText {
    display: inline;
  }
}
