<div class="nav-bar">
  <div class="selector-border"></div>
  <a mat-button (click)="select(arcadeString)" [class] = "isSelected(arcadeString) ? 'selected' : 'not-selected'">
    <mat-icon aria-hidden="true" aria-label="person">person</mat-icon>
    <span class="text">&ensp;Arcade</span>
  </a>
  <a mat-button (click)="select(duelString)" [class] = "isSelected(duelString) ? 'selected' : 'not-selected'">
    <mat-icon aria-hidden="true" aria-label="people">people</mat-icon>
    <span class="text">&ensp;Duel
      <span *ngIf="isDuelVictory()"> Victories</span>
      <span *ngIf="isDuelLose()"> Loses</span>
    </span>
    <mat-icon class="not-text" *ngIf="isDuelVictory()" aria-hidden="true" aria-label="done">thumb_up</mat-icon>
    <mat-icon class="not-text" *ngIf="isDuelLose()"aria-hidden="true" aria-label="done">thumb_down</mat-icon>
    <mat-icon [matMenuTriggerFor]="duel" aria-hidden="true" aria-label="arrow_drop_down">
      arrow_drop_down
    </mat-icon>
  </a>
  <mat-menu #duel="matMenu">
    <button (click)="duelScopeSelection('global')" mat-menu-item><mat-icon aria-hidden="true" aria-label="done">public</mat-icon> Global</button>
    <button (click)="duelScopeSelection('victory')" mat-menu-item><mat-icon aria-hidden="true" aria-label="done">thumb_up</mat-icon> Victories</button>
    <button (click)="duelScopeSelection('lose')" mat-menu-item><mat-icon aria-hidden="true" aria-label="done">thumb_down</mat-icon> Lost</button>
  </mat-menu>
  <a mat-button (click)="select(royaleString)" [class] = "isSelected(royaleString) ? 'selected' : 'not-selected'">
    <mat-icon aria-hidden="true" aria-label="groups">groups</mat-icon>
    <span class="text">&ensp;Battle Royale
      <span *ngIf="isRoyaleVictory()"> Victories</span>
      <span *ngIf="isRoyaleLose()"> Loses</span>
    </span>
    <mat-icon class="not-text" *ngIf="isRoyaleVictory()" aria-hidden="true" aria-label="done">thumb_up</mat-icon>
    <mat-icon class="not-text" *ngIf="isRoyaleLose()"aria-hidden="true" aria-label="done">thumb_down</mat-icon>
    <mat-icon [matMenuTriggerFor]="royale" aria-hidden="true" aria-label="arrow_drop_down">
      arrow_drop_down
    </mat-icon>
  </a>
  <mat-menu #royale="matMenu">
    <button (click)="royaleScopeSelection('global')" mat-menu-item><mat-icon aria-hidden="true" aria-label="done">public</mat-icon> Global</button>
    <button (click)="royaleScopeSelection('victory')" mat-menu-item><mat-icon aria-hidden="true" aria-label="done">thumb_up</mat-icon> Victories</button>
    <button (click)="royaleScopeSelection('lose')" mat-menu-item><mat-icon aria-hidden="true" aria-label="done">thumb_down</mat-icon> Lost</button>
  </mat-menu>
  <div class="selector-border"></div>
</div>
<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element">
          {{ element.score | number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="guesses">
        <th mat-header-cell *matHeaderCellDef>Guesses</th>
        <td mat-cell *matCellDef="let element">
          {{ element.guesses | number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date:'dd/M/yy' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element">
          {{ element.duration | number }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['checkbox', 'paginator']"></tr>


    <!-- Exporter column -->
    <ng-container matColumnDef="checkbox">
      <td mat-footer-cell *matFooterCellDef colspan="1">
        <mat-checkbox (click)="resort()"><span class="blockedText">sort </span> <span class="blockedText">by</span> date</mat-checkbox>
      </td>
    </ng-container>

    <!-- Paginator column -->
    <ng-container matColumnDef="paginator">
      <td mat-footer-cell *matFooterCellDef colspan="3">
        <mat-paginator 
          [length]="total"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="currentPage"
          (page)="onPaginateChange($event)"
          showFirstLastButtons></mat-paginator>
      </td>
    </ng-container>
    </table>
  </div>
</div>