button {
  margin: 10px auto;
  font-size: xx-large;
  max-height: 30%;
  width: 48%;
}

button.up {
  background: red;
  color: white;
}

button.down {
  background: blue;
  color: white;
  transform: translate(-15%, 60%);

}

button.down:hover {
  background-color: darkblue;
}

button.up:hover {
  background-color: darkred;
}

button.up#waiting {
  background-color: lightcoral;
}

button.down#waiting {
  background-color: lightblue;
}

button.up#lost {
  background-color: black;
}

button.down#lost {
  background-color: black;
}
