@import "../../../styles/mixins.scss";

:host {
  display: inline-block;
  font-size: 150%;
  font-weight: 400;
  width: 100%;
}

mat-card-header {
  text-align: center;
}

mat-card-title {
  text-align: center;
  font-size: 150% !important;
}

mat-card-content {
  text-align: right;
  p {
    font-size: 150% !important;
  }
}

.words {
  width: 95%;
  margin: auto;
  height: 300px;
  .top {
    height: 46%;
    background-color: red;
  }
  .bot {
    position: relative;
    height: 46%;
    top: -10%;
    background-color: lightblue;
  }

  div {
    margin: 1%;
    border-radius: 10px;
    h1 {
      font-size: 200%;
      font-weight: 500;
      margin: 1% 4%;
      text-align: center;
    }
    p {
      font-size: 150%;
      font-weight: 400;
      margin-top: 10px;
      margin-right: 10%;
      text-align: right;
    }
  }
}

#dummy10p {
  height: 15%;
}

#vs {
  position: relative;
  background-color: whitesmoke;
  height: 10%;
  width: 10%;
  margin: auto;
  top: -5%;
  text-align: center;
  z-index: 1;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

@include desktop {
  .words {
    width: 60%;
    .top {
      background-color: lightblue;
      transition: 1.1s;
    }
    .bot {
      transition: 1.1s;
    }
    .top:hover {
      cursor: pointer;
      background-color: red;
    }
    .bot:hover {
      cursor: pointer;
      background-color: red;
    }
  }
}
