<div class="wrapper-counter">
  <app-counter [animation]="true"></app-counter>
</div>
<div class="wrapper">
  <app-word-spinner></app-word-spinner>
</div>
<div *ngIf="playing; then gameIsOn; else gameIsNotOn"></div>
<ng-template #gameIsOn>
  <div class="progressBar">
    <app-progress-timer [progressbarValue]="progressbarValue" [timeLeft]="timeLeft"></app-progress-timer>
  </div>
</ng-template>
<ng-template #gameIsNotOn>
  <div class="divStart">
      <button class="postGame"  mat-button routerLink="/home" routerLinkActive="active">{{ 'Home' | uppercase }}</button>
      <button class="postGame"  mat-button (click)="replay()">{{ 'Play Again' | uppercase }}</button>
  </div>
</ng-template>
