@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/game/mixins";

.wrapper {
  @include app-word-spinner-wrapper();
}

.commands {
  margin: auto;
}

.wrapper-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $default-margin * 2;
}

.progressBar {
  width: 60%;
  margin: auto;
}

.divStart {
  @include game-manager-button();
}

@include tablet {
  .divStart {
    width: 70%;
    .postGame {
      width: 40%;
    }
  }
}

// for desktop layout
@include desktop {
  .divStart {
    width: 60%;
    .postGame {
      width: 40%;
    }
  }
}

button {
  color: $default-text-color;
}
