<div class="counter-container">
  <div class="name">
    <span *ngIf="name" class="mat-h3">
      {{ name | uppercase }}
    </span>
  </div>
  <div class="container" [@endGameAnimation]="animationState" (@endGameAnimation.done)="onAnimationEnd($event)">
    <div class="score">
      <span *ngIf="endGameMessate.length > 0; then endGame else score"></span>
      <ng-template #endGame>
            {{ endGameMessate }}
      </ng-template>
      <ng-template #score>
        {{ counter }}
      </ng-template>
    </div>
  </div>
</div>
