@use '~@angular/material' as mat;
@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/colors.scss";
@import "../../../../styles/game/variables";

$margin-top: 4vh;
$text-size: min(8vh, 15vw);
$small-text-size: min(6vh, 10vw);
$width: 75%;
$width-desktop: 60%;

@function counter-multiple-text-shadow($n, $color) {
  $value: "0 0 0 #{$color}";
  @for $i from 2 through $n {
    $value: "#{$value} , #{-$i * - 1}px #{ -$i * - 1}px 2px "+lighten(
        $color,
        $i * 3
      );
  }

  @return unquote($value);
}

@keyframes counter-animation {
  0% {
    text-shadow: counter-multiple-text-shadow(5, $higher-color);
  }
  50% {
    text-shadow: counter-multiple-text-shadow(5, $lower-color);
  }
  100% {
    text-shadow: counter-multiple-text-shadow(5, $higher-color);
  }
}


.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $width;
  min-width: $width * 0.5;
  margin: auto;
  text-align: center;
}

.name {
  color: $default-text-color;
  height: 8vh;
}

.container {
  @include mat.elevation(15);
  background-color: $label-bg;
  border-radius: #{$card-border-radius};
  min-width: $width * 0.5;
  .score {
    font-size: $text-size;
    color: $label-text;
    line-height: $text-size;
    text-align: center;
    height: $text-size;
    font-weight: 400;
    $shadow-margin: 5;
    text-shadow: counter-multiple-text-shadow(5, $higher-color);
    margin: min(#{2vh}, #{2vw});
    animation: counter-animation 5s infinite;
  }
  #long-score {
    font-size: $small-text-size;
  }
}

.message {
  font-size: 6vw;
  vertical-align: bottom;
}

// for tablet layout
@include tablet {
  .message {
    font-size: 5vh;
    height: 7vh;
  }
}

// for desktop layout
@include desktop {
  .counter-container {
    width: $width-desktop;
  }
  .container {
    min-width: $width-desktop * 0.5;
    .score {
      font-size: 6vh;
      height: 8vh;
      line-height: 8vh;
      margin: min(#{2vh}, #{2vw});
    }
  }

  .message {
    font-size: min(4.5vw, 6vh);
    height: 8vh;
  }

  #long-score {
    font-size: $text-size;
  }
}


