@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/colors.scss";
@import "~@angular/material/theming";

$margin-top: 4vh;
$text-size: 8vh;

@function multiple-text-shadow($n, $color) {
  $value: "0 0 0 #{$color}";
  @for $i from 2 through $n {
    $value: "#{$value} , #{-$i * - 1}px #{ -$i * - 1}px 2px "+lighten(
        $color,
        $i * 3
      );
  }

  @return unquote($value);
}

:host {
  height: #{$margin-top + $text-size};
  margin: $margin-top auto;
}

.container {
  width: fit-content;
  padding: 2vh;
  @include mat-elevation(15);
  background-color: $label-bg;
  border-radius: 10%;

  .score {
    color: $label-text;
    line-height: $text-size;
    text-align: center;
    font-size: $text-size;
    height: $text-size;
    font-weight: 400;
    $shadow-margin: 5;
    text-shadow: multiple-text-shadow(5, $higher-color);
    margin-bottom: #{$shadow-margin / 2}px;
    margin-right: #{$shadow-margin / 2}px;
    animation: mymove 5s infinite;
  }
}

@keyframes mymove {
  50% {
    text-shadow: multiple-text-shadow(5, $lower-color);
  }
}

// for desktop layout
@include desktop {
  :host {
    height: #{$margin-top + $text-size};
  }
  .container {
    .score {
      $text-size: 8vh;
      font-size: $text-size;
      height: $text-size;
    }
  }
}
