<div class="counter-container">
  <div class="name">
    <span *ngIf="name" class="mat-h3">
      {{ name | uppercase }}
    </span>
  </div>
  <div
    class="container"
    [@endGameAnimation]="animationState"
    (@endGameAnimation.done)="onAnimationEnd($event)"
  >
    <div class="score">
      <span *ngIf="endGameMessate.length > 0; then endGame; else score"></span>
      <ng-template #endGame>
        <span class="message">
          {{ endGameMessate }}
        </span>
      </ng-template>
      <ng-template #score>
        <span
          [attr.aria-label]="'score ' + counter"
          tabindex="2"
          [attr.id]="
            counter > 999 && currentGameMode === 'DUEL' ? 'long-score' : ''
          "
        >
          {{ counter }}
        </span>
      </ng-template>
    </div>
  </div>
</div>
