@import "../../styles/mixins.scss";

:host {
  display: block;
}

.container {
  display: flex;
}

.leaderboard {
  width: 30%;
  margin: 1%;
}

.word {
  width: 64%;
  margin: 1%;
}

.nameDiv {
  display: none;
}

.divStart {
  div {
    display: flex;
    width: 60%;
    margin: auto;
    align-self: center;
    button {
      width: 40%;
      margin: auto;
    }
  }
}

app-word {
  margin: 0% auto;
  text-align: center;
}

.wrapper {
  position: relative;
  overflow: visible;
  height: 30%;
}

.commands {
  position: relative;
  margin: 1%;
}

.wrapper-small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% 0%;
}

.gameBtnC {
  display: flex;
  .dummyGBtn {
    width: 32%;
    padding: 0.5%;
  }

  .gameBtn {
    margin: auto;
    width: 46%;
  }

  .dummyGBtn2 {
    width: 24%;
  }
}

@include desktop {
  .nameDiv {
    display: block;
    width: 20%;
    margin: 1%;
  }

  .word {
    width: 0.6%;
  }
}
