@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/stats/mixins";

@include underNavBarContainer();

$icon-dimension: 40px;

.delete {
  background-color: $default-error-color;
}

.withButton#short {
  margin-left: $icon-dimension;
}

mat-card mat-card {
  display: grid;
  place-content: center;
  margin: 0.5 * $default-margin;
}

mat-card-subtitle,
mat-card-title {
  text-align: center;
}

.withButton {
  align-items: center;
  display: flex;
  place-content: center;
}

@include tablet {
  .container {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@include desktop {
  .container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
