@import "../../styles/mixins.scss";

@mixin height-col {
  margin: 0 1%;
  height: 100%;
  float: left;
}

@mixin wide-col {
  margin: 0 1%;
  width: 98%;
}

.left-col {
  @include wide-col();
}

.right-col {
  @include wide-col();
}

@include desktop {
  .left-col {
    @include height-col();
    width: 28%;
  }

  .right-col {
    @include height-col();
    width: 68%;
  }
}
