@media screen and (min-width: 995px) and (orientation: landscape) {
  @mixin height-col {
    margin: 0 1%;
    height: 100%;
    float: left;
  }

  .left-col {
    @include height-col();
    width: 28%;
  }

  .right-col {
    @include height-col();
    width: 68%;
  }
}

@media (orientation: portrait), screen and (max-width: 995px) {
  @mixin wide-col {
    margin: 0 1%;
    width: 98%;
  }

  .left-col {
    @include wide-col();
  }

  .right-col {
    @include wide-col();
  }
}
