@import "../../../styles/abstracts/_mixins.scss";
@import "../../../styles/dimensions.scss";
@import "../../../styles/stats/mixins";
@import "../../../styles/colors.scss";

@include nav-bar;

.layout {
  width: 95%;
  margin: auto;
}

.selector-border {
  width: 20vw;
}
@include desktop {
  .selector-border {
    width: 30vw;
  }
}
