@import "../../../styles/abstracts/_mixins.scss";
@import "../../../styles/dimensions.scss";
@import "../../../styles/stats/mixins";
@import "../../../styles/colors.scss";

@include nav-bar;

.layout {
  width: 95%;
  margin: auto;
}

.text {
  display: none;
}

.selector-border {
  width: 20vw;
}

@include tablet {
  .text {
    display: initial;
  }
}

@include desktop {
  .text {
    display: initial;
  }

  .selector-border {
    width: 30vw;
  }
}

a {
  color: $default-text-color;
}
