@use '~@angular/material' as mat;
@use "sass:math";
@import "../../../../styles/abstracts/mixins.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/game/variables";

$card_width: 85vw;
$card_width_desktop: 60vw;

$card_heigth: 45%;
$vs_heigth: #{95% - ($card_heigth * 2)};

:host {
  display: flex;
  height: 100%;
  justify-content: center;
  font-size: 150%;
  font-weight: 400;
  margin: 1vh 0;
  overflow: hidden;
}

.words {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .top {
    height: $card_heigth;
    background-color: $higher-color;
  }
  .bot {
    height: $card_heigth;
    background-color: $lower-color;
  }

  .lost {
    background-color: $player-lost-color;
  }

  .lost:hover {
    background-color: $player-lost-color;
  }

  .not-moving {
    @include mat.elevation-transition;
    @include mat.elevation(1);
  }

  .moving {
    @include mat.elevation-transition;
    @include mat.elevation(6, black, 1.6);
  }

  .selected {
    @include mat.elevation(6, black, 1.6);
  }

  div {
    border-radius: #{$card-border-radius};
    width: $card_width;
    outline:none;
    h1 {
      font-size: 120%;
      font-weight: 500;
      margin: auto;
      text-align: center;
      transition-duration: 2s;
    }

    p {
      font-size: 100%;
      font-weight: 400;
      margin-top: 10px;
      margin-right: 10%;
      text-align: right;
    }
    .waiting {
      pointer-events: none;
    }
  }

  .ratio--width-to-height {
    height: 100%;
    width: auto;
  }

  .vs {
    // position: relative;
    height: #{$vs_heigth};
    text-align: center;
    pointer-events: none;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    .mat-icon {
      align-self: center;
      border-radius: 50%;
      width: 8vh;
      height: 8vh;
      background-color: $white-bg;
    }
    .center {
      margin: auto;
    }
    z-index: 40;
  }
}

#innerDiv {
  height: 15%;
}

@include desktop {
  .words {
    .top {
      background-color: $lower-color;
      transition-duration: 1.1s;
    }
    .bot {
      transition-duration: 1.1s;
    }
    .top:hover {
      cursor: pointer;
      background-color: $higher-color;
    }
    .bot:hover {
      cursor: pointer;
      background-color: $higher-color;
    }

    div {
      width: $card_width_desktop;
      border-radius: #{$card-border-radius};
      h1 {
        font-size: 180%;
      }
      p {
        font-size: 150%;
      }

      &:hover {
        h1 {
          font-size: 250%;
        }
      }
    }

    .waiting {
      pointer-events: none;
    }

    .lost {
      background-color: $player-lost-color;
      cursor: default;
    }

    .lost:hover {
      background-color: $player-lost-color;
      cursor: default;
      h1 {
        font-size: 180%;
      }
    }
  }
}
