@use "sass:math";
@import "../../../../styles/abstracts/mixins.scss";
@import "~@angular/material/theming";
@import "../../../../styles/colors.scss";
@import "../../../../styles/game/variables";

$card_width: 85vw;
$card_width_desktop: 60vw;

$card_heigth: 45%;
$vs_heigth: 20%;
$bottom_card_Y: #{math.round( (100%/$card_heigth) * ($vs_heigth / 2%)) * 1%};
$vs_Y: #{-(100%/$vs_heigth) * ($card_heigth)};

:host {
  width: 98vw;
  display: flex;
  height: 100%;
  justify-content: center;
  font-size: 150%;
  font-weight: 400;
  margin: 1vh 0;
  overflow: hidden;
}

.words {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .top {
    height: $card_heigth;
    background-color: $higher-color;
  }
  .bot {
    height: $card_heigth;
    transform: translateY($bottom_card_Y);
    background-color: $lower-color;

  }

  .lost {
    background-color: grey;
  }

  .lost:hover {
    background-color: grey;
  }

  .not-moving {
    @include mat-elevation-transition;
    @include mat-elevation(4);
  }

  .moving {
    @include mat-elevation-transition;
    @include mat-elevation(20, black, 1.6);
  }

  .selected {
    @include mat-elevation(20, black, 1.6);
  }

  div {
    border-radius: #{$card-border-radius};
    width: $card_width;
    h1 {
      font-size: 120%;
      font-weight: 500;
      margin: auto;
      text-align: center;
      transition-duration: 2s;

    }

    p {
      font-size: 100%;
      font-weight: 400;
      margin-top: 10px;
      margin-right: 10%;
      text-align: right;
    }
    .waiting {
      pointer-events: none;
    }
  }

  .vs {
    height: 20%;
    --translateY: #{$vs_Y};
    transform: translateY(var(--translateY));
    text-align: center;
    pointer-events: none;
    .mat-icon {
      width: 100%;
      height: 100%;
    }
    .center {
      margin: auto;
    }
  }
}

#dummy10p {
  height: 15%;
}

@include desktop {
  .words {
    .top {
      background-color: $lower-color;
      transition: 1.1s;
    }
    .bot {
      transition: 1.1s;
    }
    .top:hover {
      cursor: pointer;
      background-color: $higher-color;
    }
    .bot:hover {
      cursor: pointer;
      background-color: $higher-color;
    }

    div {
      width: $card_width_desktop;
      border-radius: #{$card-border-radius};
      h1 {
        font-size: 180%;
      }
      p {
        font-size: 150%;
      }

      &:hover {
        h1 {
          font-size: 250%;
        }
      }
    }

    .waiting {
      pointer-events: none;
    }


    .lost {
      background-color: grey;
      cursor: default;
    }

    .lost:hover {
      background-color: grey;
      cursor: default;
      h1 {
        font-size: 180%;
      }
    }
  }
}

