<div class="words">
  <div class="top not-moving" [@cardAnimation]="element1.status" (@cardAnimation.done)="onAnimationListDone($event)" (click)="answer(1)">
    <div id="dummy10p"></div>
    <div>
      <p> {{ element1.score }} </p>
      <div id="dummy10p"></div>
      <h1>{{ element1.word }}</h1>
    </div>
  </div>
  <div class="bot" [ngClass]="moving ? 'moving' : 'not-moving'" [@cardAnimation]="element2.status"  (@cardAnimation.done)="onAnimationListDone($event)" (click)="answer(2)">
    <div id="dummy10p"></div>
    <div>
      <p> {{ element2.score }} </p>
      <div id="dummy10p"></div>
      <h1>{{ element2.word }}</h1>
    </div>
  </div>
  <div class="vs" [@vsAnimation]="rotateVs" mat-icon-button isRoundButton>
    <mat-icon class="mat-icon" svgIcon="punch_vs"></mat-icon>
  </div>
</div>
