$footer-high: 70px;

@mixin margin-padding {
  margin: 1%;
  padding: 1%;
}

@media screen and (min-width: 995px) and (orientation: landscape) {
  .mat-display-4 {
    @include margin-padding();
    max-height: 10%;
    align-items: center;
    display: flex;
  }

  .mat-display-4 div {
    padding: 1%;
    max-width: 30%;
  }

  .mat-display-4 div#right {
    @include margin-padding();
    margin-right: auto;
  }

  .mat-display-4 div#left {
    @include margin-padding();
    margin-left: auto;
  }

  .left-column {
    z-index: 2;
    float: left;
    width: 24%;
    @include margin-padding();
  }

  .center-column {
    z-index: 2;
    float: left;
    width: 42%;
    @include margin-padding();
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    min-height: 50%;
    margin-bottom: $footer-high;
  }

  .right-column {
    z-index: 2;
    float: right;
    width: 24%;
    @include margin-padding();
    * {
      z-index: 2;
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: $footer-high;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
}

@media (orientation: portrait), screen and (max-width: 995px) {
  .mat-display-4 {
    max-height: 10%;
    @include margin-padding();
  }

  .mat-display-4 div {
    line-height: 1em;
    font-size: 0.85em;
    max-height: 2%;
    width: 100%;
  }

  .left-column {
    display: none;
  }
  .center-column {
    max-height: 40%;
    width: 96%;
    @include margin-padding();
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .right-column {
    width: 96%;
    @include margin-padding();
  }

  footer {
    position: static;
    left: 0;
    bottom: 0;
    height: $footer-high;
    width: 100%;
    text-align: center;
  }
}

.app-leadboard {
  padding: 2px;
}
.app-stats {
  padding: 2px;
}

.start-button {
  padding: 1%;
  width: 30%;
  height: 25%;
  color: aliceblue;
  background: red;
  font-size: 150%;
}

h1 {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    text-align: center;
  }
}
