<div class="left-column">
  &nbsp;
  <app-user-home class="user-home" *ngIf="userIsLogged()"></app-user-home>
</div>
<div class="center-column">

    <p>
      What gets Googled more?

    </p>
    <p>

      A frustratingly addictive game of higher or lower using Google searches.
    </p>
    <p>
      The data is based on global monthly searches in 2017.
    </p>


    <button mat-raised-button class="start-button">START</button>

</div>
<div class="right-column">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Stats
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-stats class="app-stats"></app-stats>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Leaderboard
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-leadeboard class="app-leadboard"></app-leadeboard>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<footer>
  <app-links></app-links>
</footer>
