:host {
  display: block;
}

.container {
  display: flex;
  width: 100%;
}

#leaderboard {
  width: 30%;
  margin: 1%;
}

#word {
  width: 44%;
  margin: 1%;
}

#dummy {
  width: 20%;
  margin: 1%;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

app-word {
  margin: 0px auto;
  text-align: center;
}

.wrapper {
  position: relative;
  align-self: center;
  align-items: center;
  overflow: visible;
  height: 30%;
}

.commands {
  position: relative;
  margin: 1%;
}

.wrapper-small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.gameBtnC {
  display: flex;
  .dummyGBtn {
    width: 32%;
    padding: 32px;
  }

  .gameBtn {
    margin: auto;
    width: 46%;
  }

  .dummyGBtn2 {
    width: 24%;
  }
}
