
<div class="wrapper-small">
  <app-counter [counter]="actualScore"></app-counter>
</div>
<div class="container">

  <div id="leaderboard">
    <app-player-list [players]="players"></app-player-list>
  </div>
  <div id="word">
    <app-word-spinner></app-word-spinner>
    <mat-progress-bar
    mode="determinate"
    [value]="progressbarValue"
    ></mat-progress-bar>
  </div>
  <div id="dummy"></div>
</div>
<button (click)="start()">start</button>
<div *ngIf="this.playing">
  <button (click)="up()">up</button>
  <button (click)="down()">down</button>
  <button (click)="repete()">repete</button>
</div>
<button (click)="disconnect()">disconnect</button>
