<div class="counter">
  <app-duel-counter></app-duel-counter>
</div>
<div class="wrapper">
  <app-word-spinner *ngIf="inGame"></app-word-spinner>
</div>
<div class="container" *ngIf="displayTimer">
  <div>
    time left: {{ timeLeft | date: "s:S" }} s
  </div>
  <mat-progress-bar
    mode="determinate"
    [value]="progressbarValue"
  ></mat-progress-bar>
</div>
<div class="divStart">
  <div *ngIf="canStart">
    <button class="start" mat-button (click)="start()">START</button>
  </div>
  <div *ngIf="canQuit">
    <button class="postGame" mat-button routerLink="/home" routerLinkActive="active">HOME</button>
    <button class="postGame" mat-button *ngIf="canRestart" (click)="quit(); this.start()">NEW GAME</button>
  </div>
</div>
