@import "../../../styles/abstracts/mixins";
@import "../../../styles/dimensions.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/game/mixins";
:host{
  height: 100%;
}

.counter {
  height: 25%;
}

.container {
  height: 5%;
  width: 60%;
  margin: auto;
  div {
    text-align: center;
  }
}

.wrapper {
  @include app-word-spinner-wrapper();
}

.leaderboard {
  width: 30%;
  margin: $default-margin;
}

.divStart {
  div {
    @include game-manager-button();
  }
}

.commands {
  position: relative;
  margin: $default-margin;
}

.wrapper-small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $default-margin 0;
}

.gameBtnC {
  display: flex;
  .dummyGBtn {
    width: 32%;
    padding: $default-padding;
  }

  .gameBtn {
    margin: auto;
    width: 46%;
  }

  .dummyGBtn2 {
    width: 24%;
  }
}

@include tablet {
  .divStart {
    div {
      width: 70%;
      .postGame {
        width: 40%;
      }
    }
  }
}


@include desktop {
  .divStart {
    div {
      width: 60%;
      .postGame {
        width: 40%;
      }
    }
  }
}

button {
  color: $default-text-color;
}
