<div class="counter">
  <app-duel-counter></app-duel-counter>
</div>
<div class="wrapper">
  <app-word-spinner *ngIf="inGame"></app-word-spinner>
</div>
<div class="container" *ngIf="displayTimer">
  <app-progress-timer [progressbarValue]="progressbarValue" [timeLeft]="timeLeft"></app-progress-timer>
</div>
<div class="divStart">
  <div *ngIf="canStart">
    <button class="start" mat-button (click)="start()">{{'Start' | uppercase}}</button>
  </div>
  <div *ngIf="canQuit">
    <button class="postGame" mat-button routerLink="/home" routerLinkActive="active">{{'Home' | uppercase}}</button>
    <button class="postGame" mat-button *ngIf="canRestart" (click)="restart()">{{'New Game' | uppercase}}</button>
  </div>
</div>
