@import '../../styles/mixins.scss';

:host {
  width: 95%;
}

.nav-bar {
  width: 70%;
  margin: auto;
  a {
    width: 25%;
    margin: auto;
  }
}

.data {
  width: 90%;
  margin: auto;
}

.selected {
  text-decoration: underline;
  opacity: 0.8;
}

@include desktop {
  .nav-bar {
    width: 50%;
    a {
      margin-top: 2%;
      margin-bottom: 2%;
    }
  }

  .data {
    width: 70%;
  }
}
