<div>
  <a mat-button routerLink="global">
    <mat-icon aria-hidden="true" aria-label="public">public</mat-icon>
    Global
  </a>
  <a mat-button routerLink="arcade">
    <mat-icon aria-hidden="true" aria-label="person">person</mat-icon>
    Arcade
  </a>
  <a mat-button routerLink="duel">
    <mat-icon aria-hidden="true" aria-label="people">people</mat-icon>
    Duel
  </a>
  <a mat-button routerLink="battle">
    <mat-icon aria-hidden="true" aria-label="groups">groups</mat-icon>
    Battle
  </a>
</div>
<router-outlet></router-outlet>
