@import "../styles/dimensions.scss";
@import "../styles/abstracts/mixins";
@import "../styles/colors.scss";

.nav-buttons {
  background-color: $button-bg;
}

#desktop {
  display: none;
}

.div-buttons {
  display: grid;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $button-bg;
}

.text {
  display: none;
}

@include tablet {
  .text {
    display: initial;
  }
}

@include desktop {
  .text {
    display: initial;
  }
}

@include desktop {
  #desktop {
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    * {
      width: 30%;
      display: flex;
      align-items: right;
      justify-content: flex-end;
    }
  }

  #mobile {
    display: none;
  }
}

button {
  color: $default-text-color;
}
