// default
$default-text-color: aliceblue;
$dark-text-color: black;
$higher-color: #ff2147;
$lower-color: #add8e6;
$white-bg: white;
$black-bg: black;
$default-error-color: red;
$behind-player-color: lightcoral;
$losing-player-color: darkslategrey;
$button-bg: rgba(0, 0, 0, 0);
$label-bg: rgba(255, 255, 255, 0.212);
$label-text: rgba(0, 0, 0, 0.7);
