$default-footer-height: 5vh;
$default-padding: 1%;
$default-margin: 1%;
$default-margin-on-height: 0.4vh;
$default-X-margin: 0 $default-margin;
$default-Y-margin-desktop: calc(2 * #{$default-margin}) 0;

@mixin default-wide-col {
  @include wide-col($default-margin, $default-padding);
}

@mixin wide-col($margin, $padding) {
  margin: 0 $margin;
  padding: $padding;
  width: calc(100% - 2 * #{$margin} - 2 * #{$padding});
}

@mixin height-col {
  margin: $default-X-margin;
  height: 100%;
}
