<div [@testAnim2]="newCard" (@testAnim2.done)="onAnimation2Done($event)">
  <mat-card class="word-card">
    <mat-card-header>
      <mat-card-title> {{ card.word }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>with score: {{ card.score ? card.score : emptyScore }}</div>
    </mat-card-content>
  </mat-card>
</div>

<div
  *ngIf="newCard !== false"
  (@testAnim.done)="onAnimationDone($event)"
  [@testAnim]
>
  <mat-card class="word-card">
    <mat-card-header>
      <mat-card-title> {{ getCard(newCard).word }}. </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>with score: {{ getCard(newCard).score ? getCard(newCard).score : emptyScore }}</div>
    </mat-card-content>
  </mat-card>
</div>
