:host {
  display: inline-block;
  font-size: 150%;
  font-weight: 400;
  border: 0px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  height: 140px;
  width: 440px;
  overflow: hidden;
}

mat-card-header {
  text-align: center;

}

mat-card-title {
  text-align: center;
  font-size: 150% !important;
}

mat-card-content {
  text-align: right;
  p {
    font-size: 150% !important;
  }
}

